@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500&display=swap');

/* Farben: rgb(233, 233, 224), #333 */

/* General Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: rgb(233, 233, 224);
    color: #333;
    font-family: 'Cormorant Garamond', serif;
    padding: 0 5vw;
}

body div {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 12vh 85vh;
    gap: 10px;
}

header {
    grid-column: 1/3;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2rem;
    padding: 1vh 0;
}

header h1 span {
    font-size: 2.8rem;
}

header article h2 {
    font-size: 1.4rem;
    padding: 1vh 0;
}

header article {
    display: flex;
    justify-content: space-around;
    width: 100%;
    border-top: 4px double #333;
    border-bottom: 4px double #333;
}

main {
    grid-column: 1/2;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 1.5fr 1.5fr 2fr;
    grid-template-rows: 5vh 11vh 26vh 38vh;
    gap: 10px;
}

main section h4 {
    font-size: 1.8rem;
}

main section p {
    font-size: 1.5rem;
}

.headline {
    grid-column: 1/4;
    grid-row: 1/2;
    text-align: center;
    font-size: 2.6rem;
}

.cookware {
    grid-column: 1/2;
    grid-row: 2/3;
}

.microwave {
    grid-column: 2/3;
    grid-row: 2/3;
}

.knife {
    grid-column: 1/2;
    grid-row: 3/4;
}

.fires {
    grid-column: 2/3;
    grid-row: 3/4;
}

.burns {
    grid-column: 1/2;
    grid-row: 4/5;
}

.death {
    grid-column: 2/3;
    grid-row: 4/5;
}

.img {
    grid-column: 3/4;
    grid-row: 2/5;
    display: flex;
    flex-direction: column;
}

.img img {
    width: 100%;
    object-fit: cover;
    height: 95%;
}

.img p {
    font-style: italic;
}

aside {
    grid-column: 2/3;
    grid-row: 2/3;
}

aside h5 {
    text-align: center;
    font-size: 1.8rem;
    padding-bottom: 5px;
}

aside article:nth-of-type(1) {
    border: 4px double #333;
    text-align: center;
    font-size: 5rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    padding: 10px;
}

aside article:nth-of-type(2) {
    border: 4px double #333;
    text-align: center;
    margin: 5px 0;
    padding: 5px 5px;
}

aside article:nth-of-type(2) h4 {
    font-size: 1.8rem;
}

aside article:nth-of-type(2) p {
    font-size: 1.5rem;
}

aside article:nth-of-type(2) a {
    font-size: 1.7rem;
    text-decoration: none;
    border-bottom: 1px solid rgb(119, 118, 118);
    color: rgb(119, 118, 118);
}

aside article:nth-of-type(3) {
    border: 4px double #333;
    text-align: center;
}

aside article:nth-of-type(3) img {
    width: 75%;
    padding: 25px 0;
}